.cart {
  height: 100%;
  display: flex;
  padding-top: 10px;
  justify-content: space-around;
  &__elems {
    &__elem {
      margin: 4px;
      border: 1px solid #bfb0b8;

      .elem {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        justify-content: space-between;
        min-width: 20rem;
        min-height: 100px;
        border-radius: 5px;
        &__attributes {
          align-items: center;
          display: flex;
          &__image {
            img {
              width: auto;
              max-width: 80px;
              height: auto;
              max-height: 80px;
              display: flex;
              padding-right: 15px;
            }
          }
          &__title {
            font-size: 15px;
          }
        }
        &__actions {
          display: flex;
          &__button {
            cursor: pointer;
            color: #bfb0b8;
            &_less {
            }
            &_more {
            }
            &_delete {
              color: #000000;
            }
          }
          &__quantity {
          }
        }
      }
    }
  }
}
